.paginator {

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: .8rem;
}

.paginator .pagination {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paginator .page-link {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: none;
    cursor: pointer;
}

.paginator .page-link.active {
    background-color: var(--main-color--light);
    color: white;
}

.paginator .page-link:hover:not(.active) {
    background-color: #ddd;
}

.paginator .page-link.active:hover {
    color: #fff;
}